body {
  margin: 0;
  font-family: Georgia, serif;
  color: #111;
  background: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
}

.site-title {
  font-size: 24px;
  font-weight: 600;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #111;
}

nav a:hover {
  text-decoration: underline;
}

/* Content */
.content-c {
  max-width: 700px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: center;
}

.content-l {
  max-width: 700px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: left;
}

.content h1 {
  font-size: 26px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.content p,
.content li {
  font-size: 18px;
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0;
}



/* Email */
.email {
  display: flex;
  justify-content: center;
}

.email a {
  border-bottom: 1px solid #222;
  text-decoration: none;
  color: #222;
}

/* Socials */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  display: inline-flex;
}

.social-icons img {
  width: 32px;
  height: 32px;
}



